version: '3.4'

services:
  api:
    build: ./src/api
    ports:
      - 8000:8000
      - 5678:5678
    environment:
      S3_ACCESS_KEY : ${MINIO_ROOT_USER:-admin}
      S3_SECRET_KEY : ${MINIO_ROOT_PASSWORD:-mkcadmin123}
      S3_ENDPOINT: http://s3-emulator:9000/
      API_ADMIN_EMAIL : ${API_ADMIN_EMAIL:-admin@admin.com}
      API_ADMIN_PASSWORD : ${API_ADMIN_PASSWORD:-admin}
      PORT : 8000
    volumes:
      - mkc-db:/var/lib/mkc-api/data
      - ./src/api/app.py:/usr/src/app/app.py
  frontend:
    build: ./src/frontend
    ports:
      - 8001:8001
    volumes:
      - ./src/frontend:/usr/src/app
  cf-worker:
    build: ./src/cf-worker
    ports:
      - 5000:5000
    volumes:
      - ./src/cf-worker:/usr/src/app
  s3-emulator:
    command: server /s3/data --console-address ":9001"
    image: minio/minio
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - mkc-s3:/s3/data
    environment:
      MINIO_ROOT_USER : ${MINIO_ROOT_USER:-admin}
      MINIO_ROOT_PASSWORD : ${MINIO_ROOT_PASSWORD:-mkcadmin123}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  redis:
    image: 'redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - ./src/redis/redis-data:/data
    ports:
      - 6379:6379
      
volumes:
  mkc-db:
  mkc-s3: