name: Github Actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/api
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install API dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  cf-worker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/cf-worker
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.1'
          cache: 'npm'
          cache-dependency-path: 'src/cf-worker/package-lock.json'
      - name: Install cf-worker dependencies
        run: npm ci
      - name: Build cf-worker environment
        run: npm run build
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/frontend
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.1'
          cache: 'npm'
          cache-dependency-path: 'src/frontend/package-lock.json'
      - name: Install frontend dependencies
        run: npm ci
      - name: Build frontend environment
        run: npm run build