name: Upload Frontend

on:
  push:
    branches: [ main ]
  # temporary while testing on branch
  pull_request:
    branches: [ main ]

jobs:
  upload-frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/frontend
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.1'
      - name: Install frontend dependencies
        run: npm ci
      - name: Build frontend environment
        run: npm run build
      - name: Upload files to Wasabi
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --follow-symlinks --delete
        env:
          AWS_S3_ENDPOINT: 'https://s3.us-west-1.wasabisys.com'
          AWS_S3_BUCKET: '${{ secrets.S3_BUCKET }}'
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_KEY }}
          AWS_REGION: 'us-west-1'
          SOURCE_DIR: 'build'
          DEST_DIR: 'testing'